[Unit]
Description=Kotamech Logger Update Tick
Wants=network-online.target
After=network-online.target tailscaled.service

[Service]
Type=oneshot
Environment=KOTAMECH_LOG_FILE=__LOG_FILE__
ExecStart=__INSTALL_DIR__/venv/bin/python __INSTALL_DIR__/logging_client.py